<div class="text-center container">


    <h2>Listado de Heroes c:</h2>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr  [class.table-active]="hero === currentHero" *ngFor="let hero of heroes" (click)="onSelect(hero)">
                <th scope="col">{{hero.id}}</th>
                <th scope="col" >{{hero.name}}</th>
            </tr>
        </tbody>
    </table>
    <app-hero-detail [hero]="currentHero"></app-hero-detail>

    

</div>